.container{
    margin: auto;
    text-align: center;
}

.search{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid silver;
    margin-bottom: 40px;
    outline: none;
    width: 300px;
    margin-top: 20px;
    
}

.container .coin div:first-child{
    border-radius: 5px 5px 0 0;
}

.container .coin div:last-child{
    border-bottom: 2px solid silver;
    border-radius: 0 0 5px 5px;
}